:root {
    --long-sidebar-left: 20rem;
    --long-sidebar-left-neg: -20rem;
}

.btn_for_chessboard {
    margin-top: 20px;
}

#img-night-mode:hover {
    width: 38px;
    cursor: pointer;
}

#page-top,
#footer_base {
    background-color: #f8f9fa;
}

#wrapper,
#wrapper-right {
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper-right {
    min-height: 80vh;
    box-shadow: 2px 2px 12px #aaa;
    padding: 0.875rem;
    font-size: 1.2rem;
    margin-top: 10vh;
    border-radius: 5px;
}

#sidebar-wrapper {
    min-height: 100vh;
    box-shadow: 2px 2px 12px #aaa;
    margin-left: 0;
    max-width: 20rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: var(--long-sidebar-left);
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper-right {
    margin-left: 0;
    padding-left: 8px;
}

#sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle-right {
    background-color: rgba(48, 48, 48, 0.884);
    color: #f8f9fa;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    border-radius: 1rem;
    margin-right: 4px;
}

#menu-toggle {
    background-color: rgba(48, 48, 48, 0.884);
    color: #f8f9fa;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    border-radius: 1rem;
    margin-left: -15px;
}

#menu-toggle:hover,
#menu-toggle-right:hover {
    box-shadow: 2px 2px 12px rgb(77, 77, 77);
}

.module {
    margin: 3px;
    border-radius: 5px;
    height: 60px;
    width: 90%;
    padding-left: 5px;
}

.module h5 {
    margin-top: auto;
    margin-bottom: auto;
}

.module:hover {
    box-shadow: 2px 2px 12px #aaa;
}

#img-stockfish-mod {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30%;
    max-height: 90%;
    margin-right: 5px;
    padding: 0px;
}

#img-lc0-mod {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30%;
    max-height: 90%;
    margin-right: 5px;
}

#img-komodo-mod {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30%;
    max-height: 90%;
    margin-right: 5px;
}

#text_of_module_all {
    font-weight: bold;
    font-size: 25px;
}

.col_middle {
    height: 80%;
}

#div_info {
    min-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    padding: 5px;
    background-color: #fff;
}

#div_global_status {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    max-width: 800px;
    width: 100%;
}

#status,
#fen,
#pgn {
    margin-bottom: 10px;
}

#div_chat {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    min-height: 350px;
}

.board-b72b1 {
    border-radius: .25rem;
}

#img_acc_dropdown {
    border-radius: 1rem;
    box-shadow: 2px 2px 12px #aaa;
}

#img_acc_dropdown:hover {
    border-radius: 1rem;
    box-shadow: 3px 3px 12px rgb(92, 92, 92);
}

#dropdown_div {
    min-height: 450px;
    min-width: 350px;
}

#myBoard,
#div_global_status {
    margin-left: auto;
    margin-right: auto;
}

#div_global_status {
    overflow: scroll;
    overflow-x: hidden;
    height: 220px;
    max-width: 764px;
}

#myBoard {
    max-width: 764px;
}