<div class="col-12 bg-night_2" id="div_info">
    <p id="title_of_info">Info : </p>
</div>
<div class="col-12 bg-night_2" id="div_chat">
    <label>Chat : </label>

</div>
<div class="panel-footer col-12 m-0 p-0" id="div_chat_message">
    <div class="input-group">
        <input id="chat_input" type="text" class="form-control input-sm chat_input bg-night_2" placeholder="Write your message here..." />
        <span class="input-group-btn">
            <button class="btn btn-primary ml-1" id="btn_chat">Send</button>
            </span>
    </div>
</div>