{% extends "base.html" %} {% block content %} {% load static %} {% if messages %}
<div class="row justify-content-center">
    <div class="alert alert-secondary col-8 " role="alert" style="margin-top: 50px;">

        <div id="errors">
            <div class="inner">
                {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <ul>
                    <li>{{ message }}</li>
                </ul>

                {% endif %} {% endfor %}
            </div>
        </div>

    </div>
</div>


{% endif %}



<div class="justify-content-center" id="news">

    <div class="card text-center bg-night_2 shadow_perso">
        <div class="card-header bg-night">
            News
        </div>
        <div class="card-body">
            <h5 class="card-title">News #1</h5>
            <p class="card-text">

                <p>
                    Hello welcome to my chess app. You can play against Stockfish, Leela Chess Zero, or even komodo.
                </p>
                <p>
                    You also have the option of analyzing your games or importing one!
                </p>
                <p>
                    Analyze your chess games with the 3 best chess engine in the world !!!
                </p>
                <p>
                    Good games 😊
                </p>









            </p>
            <a href="#" class="btn btn-primary">go to the news</a>
        </div>
        <div class="card-footer text-muted bg-night">
            2 days ago
        </div>
    </div>
</div>



<script>
    DJANGO_STATIC_URL = '{% static "img/" %}';
    MODULE = "";
    GAME_VIEWER = false;
</script>



{% endblock %} {% block right %} {% include "chess_app/chat_info_block.html" %}{% endblock %}