{% extends "base.html" %} {% block content %} {% load static %} {% if messages %}
<div class="row justify-content-center">
    <div class="alert alert-secondary col-8 " role="alert" style="margin-top: 50px;">

        <div id="errors">
            <div class="inner">
                {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <ul>
                    <li>{{ message }}</li>
                </ul>

                {% endif %} {% endfor %}
            </div>
        </div>

    </div>
</div>


{% endif %}



<div class="justify-content-center" id="div_of_board_parrent">
    <div id="myBoard"></div>

</div>



<script>
    DJANGO_STATIC_URL = '{% static "img/" %}';
    MODULE = "";
    GAME_VIEWER = false;
</script>



{% include "chess_app/status_block.html" %} {% endblock %} {% block right %} {% include "chess_app/chat_info_block.html" %}{% endblock %}