{% extends "base.html" %} {% block content %} {% load static %}

<div class="justify-content-center" id="div_of_board_parrent">
    <div id="myBoard"></div>

</div>


<script>
    DJANGO_STATIC_URL = '{% static "img/" %}';
    MODULE = "lc0";
</script>



<div class="col-12 bg-night_2 style-1 scrollbar" id="div_global_status">
    <label>Status : </label>
    <div id="status"></div>
    <label>FEN : </label>
    <div id="fen"></div>
    <label>PGN : </label>
    <div id="pgn"></div>
</div>




{% endblock %} {% block right %}
<div class="col-12 bg-night_2" id="div_info">
    <p id="title_of_info">Info : </p>
    <div class="row ml-2 mr-2 pt-0 mt-0">
        <div class="col-6" id="white_info">

        </div>
        <div class="col-6" id="black_info">

        </div>
    </div>

</div>
<div class="col-12 bg-night_2" id="div_chat">
    <label>Chat : </label>

</div>
<div class="panel-footer col-12 m-0 p-0" id="div_chat_message">
    <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm chat_input bg-night_2" placeholder="Write your message here..." />
        <span class="input-group-btn">
            <button class="btn btn-primary btn ml-1" id="btn-chat">Send</button>
            </span>
    </div>
</div>
<button id="switch_color" type="button" class="btn btn-secondary  mt-3  btn_opt">Switch color</button>
<button id="new_game" type="button" class="btn btn-secondary  mt-3  btn_opt">New game</button>
<button id="analyse" type="button" class="btn btn-secondary  mt-3 btn_opt">Analyse</button>
<button id="flip" type="button" class="btn btn-secondary  mt-3 btn_opt">Flip board</button> {% endblock %}