<div class="bg-night_2 style-1 scrollbar col-12" id="div_global_status">
    <label>Status  : </label>
    <div id="status"></div>
    <hr class="col-6 rounded mt-0 mb-1" style="height: 2px;  background-color: #2a73e0; width: 50%; border: none;">
    <label>FEN : </label>
    <div id="fen">{{games.last_fen}}</div>
    <hr class="col-6 rounded mt-0 mb-1" style="height: 2px;  background-color: #2a73e0; width: 50%; border: none;">
    <label>PGN : </label>
    <div id="pgn">{{games.pgn}}</div>
</div>